.Cart {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100vh;
  padding: 32px 30px;
  transition: transform 0.1s ease-out;
  background-color: #fff;
  &.hidden {
    transform: translateX(100%);
  }
  .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .infoItems {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  .infoItem {
    display: flex;
    gap: 9px;
  }
  .infoLabel {
    font-size: 16px;
  }
  .infoSeparator {
    flex-grow: 1;
    border-bottom: 1px dashed #dfdfdf;
  }
  .infoPrice {
    font-size: 16px;
    font-weight: 600;
  }
}
