* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  img,
  svg {
    display: block;
  }
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}
