:root {
  // colors
  --background-color: #e7f6ff;
  --app-background-color: #ffffff;

  --primary-text-color: #000;

  // sizes
  --app-max-width: 1080px;
  --font-size: 14px;
  --line-height: normal;
}
