.HomePage {
  .titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .sneakers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px;
  }
}
